<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>アカウント設定</title>
    <link rel="stylesheet" href="../static/css/account.css">
</head>

<body>
    <iframe src="header.html" frameborder="0" scrolling="no" width="100%" height="125px"></iframe>

    <main>
        <section class="account-settings">
            <h1>アカウント</h1>
            <div class="profile-image">
                <img src="../static/img/pochi.png" alt="プロフィール画像">
            </div>
            <div class="account-info">
                <div class="info-item">
                    <label for="name">名前：</label>
                    <input type="text" id="password" class="info-value">
                </div>
                <div class="info-item">
                    <label for="email">メールアドレス：</label>
                    <input type="text" id="password" class="info-value">
                </div>
                <div class="info-item">
                    <label for="password">パスワード：</label>
                    <input type="text" id="password" class="info-value">
                </div>
                <div class="info-item">
                    <label for="password">パスワード確認：</label>
                    <input type="text" id="password" class="info-value">
                </div>
                <div class="info-item">
                    <label for="notifications">日常読書時間(1日)：</label>
                    <input type="text" id="password" class="info-value">
                </div>
            </div>
            <div class="actions">
                <button type="button">変更</button>
            </div>
            <a href="#">戻る</a>
        </section>
    </main>

    <footer>
        <!-- フッター内容 -->
    </footer>
</body>

</html>