<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>本の詳細</title>
    <link rel="stylesheet" href="../static/css/bookSearchDetail.css">
</head>

<body>

    <iframe src="header.html" frameborder="0" scrolling="no" width="100%" height="88px"></iframe>
    <main class="book-detail-container">
        <div class="book-cover-container">
            <img src="../static/img/ai.jpg" alt="ファンタジーのブックカバー" class="book-cover">
        </div>
        <div class="book-metadata-container">
            <h1 class="book-title">推しの子 1巻</h1>
            <p class="book-author">著者: 赤坂アカ</p>
            <p class="book-publisher">出版社: 集英社</p>
            <p class="book-synopsis">あらすじ: 「この芸能界（せかい）において嘘は武器だ」 地方都市で働く産婦人科医・ゴロー。 ある日"推し"のアイドル「B小町」のアイが彼の前に現れた。
                彼女はある禁断の秘密を抱えており…。 そんな二人の"最悪"の出会いから、運命が動き出していく―。
            </p>

            <div class="reading-status">           
                <button type="button" class="save-reading-status">マイリストに登録</button>
            </div>

        </div>
    </main>

</body>

</html>