<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/header.css">
</head>

<body>
    <header>
	    <div class="logo-container">
	    	<img src="../static/img/mylib.png" alt="アプリアイコン" class="app-icon">
	        <h1>マイリブ</h1>
        </div>
        <nav>
            <ul>
                <li><a href="#">ログイン</a></li>
                <li><a href="#">コミュニティ</a></li>
                <li><a href="#">本検索</a></li>
                <li><a href="#">ホーム</a></li>
                <li><a href="#">アカウント</a></li>
                <li><a href="#">ログアウト</a></li>
                <li><input type="search" placeholder="検索"></li>
            </ul>
        </nav>
    </header>
</body>