<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/header.css">
</head>

<body>
    <header>
        <h1>マイリブ</h1>
        <nav>
            <ul>
                <li><a href="#">ホーム</a></li>
                <li><a href="#">コミュニティ</a></li>
                <li><a href="#">プロフィール</a></li>
                <li><a href="#">お問い合わせ</a></li>
                <li><input type="search" placeholder="検索"></li>
            </ul>
        </nav>
    </header>
</body>