<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>マイリブ</title>
    <link rel="stylesheet" href="../static/css/home.css">
</head>

<body>
    <header>
        <h1>マイリブ</h1>
        <nav>
            <ul>
                <li><a href="#">ホーム</a></li>
                <li><a href="#">コミュニティ</a></li>
                <li><a href="#">プロフィール</a></li>
                <li><a href="#">お問い合わせ</a></li>
                <li><input type="search" placeholder="検索"></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="hero">
            <!-- ここにメインイメージ -->
            <img src="https://via.placeholder.com/600x300" alt="メインイメージ">
        </section>

        <div class="book-shelves">
            <div class="book-item">
                <img src="https://via.placeholder.com/250x150" alt="本棚">
                <a href="#">本検索</a>
            </div>
            <div class="book-item">
                <img src="https://via.placeholder.com/250x150" alt="ユーザーイメージ">
                <a href="#">本一覧</a>
            </div>
        </div>

        <section class="news">
            <div class="news-container">
                <h2>最新ニュース</h2>
                <ul>
                    <li><time datetime="2024-02-23">2024.02.23</time> - ニュースアイテム1</li>
                    <li><time datetime="2024-02-22">2024.02.22</time> - ニュースアイテム2</li>
                    <li><time datetime="2024-02-21">2024.02.21</time> - ニュースアイテム3</li>
                    <li><time datetime="2024-02-20">2024.02.20</time> - ニュースアイテム4</li>
                </ul>
            </div>
        </section>

        <h2 style="text-align: center;">読了完了度</h2>
        <section class="progress-section">
            <div class="progress-circle" data-progress="30">
                <div class="progress-fill"></div>
                <div class="progress-text-container">
                    <div class="progress-percent">30%</div>
                    <div class="progress-text">本日読了</div>
                </div>
            </div>
            <div class="progress-circle" data-progress="70">
                <div class="progress-fill"></div>
                <div class="progress-text-container">
                    <div class="progress-text-contain">
                        <div class="progress-percent">70%</div>
                        <div class="progress-text">総読了数</div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 マイリブ</p>
    </footer>
</body>

</html>