<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>ログイン</title>
    <link rel="stylesheet" href="../static/css/account.css">
</head>

<body>
    <iframe src="loginHeader.html" frameborder="0" scrolling="no" width="100%" height="125px"></iframe>

    <main>
        <section class="account-settings">
            <h1>ログイン</h1>
            <div class="account-info">
                <div class="info-item">
                    <label for="email">メールアドレス</label>
                    <input type="text" id="password" class="info-value">
                </div>
                <div class="info-item">
                    <label for="password">パスワード</label>
                    <input type="password" id="password" class="info-value">
                </div>
            </div>
            <div class="actions">
                <button type="button">ログイン</button>
            </div>
            <a href="#">新規の方はこちら</a>
            <a href="#">ログインできない方はこちら</a>
        </section>
    </main>

    <footer>
        <!-- フッター内容 -->
    </footer>
</body>

</html>
