<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>本棚</title>
    <link rel="stylesheet" href="../static/css/bookList.css">
</head>

<body>
    <iframe src="header.html" frameborder="0" scrolling="no" width="100%" height="125px"></iframe>

    <main>
        <section class="book-list">
            <h1>本棚</h1>
            <div class="filter-sort">
                <select name="book-option">
                  <option value="0">絞り込み/並び順</option>
                </select>
            </div>
            <div class="book-info">
                <div class="info-item">
                  <div class="book-image">
                    <img src="../static/img/JujutsuKaisen1.webp" alt="本画像">
                  </div>
                  <div class="book-detail">
                    <label for="book-name">呪術廻戦</label>
                    <p>茶見下久々</p>
                  </div>
                </div>
                <div class="info-item">
                  <div class="book-image">
                    <img src="../static/img/JujutsuKaisen1.webp" alt="本画像">
                  </div>
                  <div class="book-detail">
                    <label for="book-name">呪術廻戦</label>
                    <p>茶見下久々</p>
                  </div>
                </div>
                <div class="info-item">
                  <div class="book-image">
                    <img src="../static/img/JujutsuKaisen1.webp" alt="本画像">
                  </div>
                  <div class="book-detail">
                    <label for="book-name">呪術廻戦</label>
                    <p>茶見下久々</p>
                  </div>
                </div>
                <div class="info-item">
                  <div class="book-image">
                    <img src="../static/img/JujutsuKaisen1.webp" alt="本画像">
                  </div>
                  <div class="book-detail">
                    <label for="book-name">呪術廻戦</label>
                    <p>茶見下久々</p>
                  </div>
                </div>
                <div class="info-item">
                  <div class="book-image">
                    <img src="../static/img/JujutsuKaisen1.webp" alt="本画像">
                  </div>
                  <div class="book-detail">
                    <label for="book-name">呪術廻戦</label>
                    <p>茶見下久々</p>
                  </div>
                </div>
            <a href="#">もっと見る</a>
        </section>
    </main>

    <footer>
        <!-- フッター内容 -->
    </footer>
</body>

</html>
